footer {
	background-color: #f4f4f4; /* цвет фона футера */
	color: #666; /* цвет текста в футере */
	padding: 10px; /* внутренний отступ для футера */
	font-size: 14px; /* размер шрифта в футере */
}

footer p {
	margin: 0; /* убрать отступы внутри параграфа */
}

footer a {
	color: #333; /* цвет ссылок в футере */
	text-decoration: none; /* убрать подчеркивание ссылок */
}

footer a:hover {
	color: #f00; /* цвет ссылки при наведении на нее мыши */
}